/* Design der Überschrift*/
h1  {
    background: rgb(198, 144, 210); 
    font: 50px Apple Chancery;
    color: white; 
    text-align: center;
}

/* Design der Links */
a:hover {
    font-size: 1.3em; 
    color:rgb(198, 144, 210) ;
}
a {
    font: 20px Times New Roman;
    color: black;
  }

/* Design des Textes */
p {
    text-align: center;
}
label {
    font-weight: bold;
}

/* Design des Footers */
footer {
    margin-top: 50px; 
}

/* Design der Bilder */
img {
    width: 300px; 
    height: auto; 
    margin-left: 550px;
    margin-right: auto;
}
