/* Design Überschrift */
h1 {
    background: rgb(198, 144, 210); 
    font: 50px Apple Chancery;
    color: white;  
    text-align: center;
 }

/* Design Links */
 a:hover {
    font-size: 1.3em; 
    color:rgb(198, 144, 210) ;
 }
a {
    font: 20px Times New Roman;
    color: black;
    text-decoration: none;
 }

 /* Design Text */
label {
    font-weight: bold;
 }

/* Design Footer */
footer {
    margin-top: 50px; 
 }

